<article class="post card">
  <div class="content">
    <div class="header">
      <a href="profile.html" class="profileLink">
        <div class="postAuthorProfileImage" hidden>
          <div class="userProfilePicture">
            <img alt="profile" src="../assets/pfp.gif" />
          </div>
        </div>
        <div class="userIdentification">
          <div>
            <h2 class="name">Pikachu</h2>
            <h3 class="username">@pikachu</h3>
          </div>
          <h4 class="dateSince">Postado há 2 min</h4>
        </div>
      </a>
    </div>

    <div class="body">
      <p class="postContent">Testando o post! Tudo funcionando!</p>
    </div>

    <div class="commentsQuantity" hidden>
      <div class="commentInputProfileImage">
        <div class="userProfilePicture">
          <img alt="profile" src="../assets/pfp.gif" />
        </div>
      </div>
      <h4>Comente algo...</h4>
      <h4 class="commentCount">42</h4>
    </div>
    <a href="post.html" class="seePost">Ver postagem</a>
  </div>
    <div class="postActions">
      <div class="action">
        <button class="deletePost" id= "deletePostButton" type="submit">
          <span
            class="optionDelete"
            >Excluir</span
          >
        </button>
      </div>
    </div>
    <div class="commentariesDiv">
      <span class="commentariesTitle">Comentários</span>

      <div class="commentaries">
        <article class="post card">
          <div class="content">
            <div class="header">
              <a href="profile.html" class="profileLink">
                <div class="postAuthorProfileImage" hidden>
                  <div class="userProfilePicture">
                    <img alt="profile" src="../assets/pfp.gif" />
                  </div>
                </div>
                <div class="userIdentification">
                  <div>
                    <h2>Pikachu</h2>
                    <h3>@pikachu</h3>
                  </div>
                  <h4>Postado há 2 min</h4>
                </div>
              </a>
            </div>

            <div class="body">
              <p class="postContent">Testando o post! Tudo funcionando!</p>
            </div>

            <div class="commentsQuantity" hidden>
              <div class="commentInputProfileImage">
                <div class="userProfilePicture">
                  <img alt="profile" src="../assets/pfp.gif" />
                </div>
              </div>
              <h4>Comente algo...</h4>
              <h4 class="commentCount">42</h4>
            </div>
            <a href="post.html" class="seePost">Ver postagem</a>
          </div>
        </article>
      </div>
    </div>
    
  </div>
  
</article>
