<div class="sidebarContent">
  <div class="sidebarScoll">
    <ul>
      <div class="profile">
        <div class="imageContainer">
          <div class="cover">
            <img alt="profileCover" src="../assets/coverImage.gif" />
          </div>
        </div>
        <a id="currentUserProfileLink" href="profile.html">
          <div class="userProfilePictureSidebar">
            <div class="userProfilePicture">
              <img alt="profile" src="../assets/pfp.gif" />
            </div>
          </div>
        </a>
        <a href="profile.html">
          <div class="profileInformations">
            <h2 class="name currentName">Pikachu</h2>
            <h3 class="username currentUsername">@pikachu</h3>
          </div>
        </a>
        <div class="stars">
          <span class="material-icons"> star </span>
          <span class="material-icons"> star </span>
          <span class="material-icons"> star </span>
          <span class="material-icons"> star </span>
          <span class="material-icons"> star </span>
        </div>
      </div>
      <li class="newPostButton">
        <button class="newPost" id="myBtn">Novo Post</button>
        <button class="newPostPlus" id="myBtnMobile">+</button>
      </li>
      <a href="#">
        <li class="item-menu">
          <span class="material-icons"> home </span>
          <span class="menu">Inicio</span>
        </li>
      </a>
      <a href="#">
        <li class="item-menu">
          <span class="material-icons"> mail </span>
          <span class="menu">Mensagens</span>
        </li>
      </a>
      <a href="#">
        <li class="item-menu">
          <span class="material-icons"> explore </span>
          <span class="menu">Descubra</span>
        </li>
      </a>
      <a href="#">
        <li class="item-menu">
          <span class="material-icons"> notifications </span>
          <span class="menu">Notificações</span>
        </li>
      </a>
    </ul>
  </div>
</div>