.profilePage {
  position: relative;
  width: 49%;
  font-size: 20px;
  margin: 10px auto;
  z-index: 1;
}

.profilePage .cover img {
  width: 100%;
}

@media only screen and (max-width: 1000px) and (min-width: 600px) {
  .profilePage {
    width: 90%;
  }
}
