.leftBar {
  height: 100vh !important;
  width: 20%;
  max-width: 400px;
  position: fixed;
  transition: width 0.5s;
  z-index: 5;
  overflow: scroll;
  background-color: white;
  margin-top: 2px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* Track */
.leftBar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.leftBar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.leftBar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.leftBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.leftBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.newPost {
  margin: auto;
  width: 80%;
  background: linear-gradient(
    180deg,
    rgba(68, 154, 255, 1) 0%,
    rgba(7, 212, 212, 1) 100%
  );
  border-radius: 15px !important;
  color: white;
  font-weight: 600;
  background-color: white;
  height: 50px;
  padding: 10px;
  border: 0;
  margin-top: 10px !important;
  text-emphasis: none;
  text-decoration: none;
  cursor: pointer;
}

.newPostPlus {
  margin: auto;
  width: 80%;
  background: linear-gradient(
    180deg,
    rgba(68, 154, 255, 1) 0%,
    rgba(7, 212, 212, 1) 100%
  );
  border-radius: 15px !important;
  color: white;
  font-weight: 600;
  background-color: white;
  height: 45px;
  padding: 10px;
  border: 0;
  margin-top: 10px !important;
  text-emphasis: none;
  text-decoration: none;
  display: none;
}

.newPostButton {
  text-align: center;
}
.cover {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: -1;
}
dr .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userProfilePictureSidebar {
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: auto;
  margin-right: auto;
}

.profile {
  border-bottom: 0.5px solid #e6e6e6;
  padding-bottom: 20px;
}

.profileInformations {
  display: grid;
  overflow: hidden;
}

.name {
  text-align: center;
  font-size: 20px;
}

.username {
  text-align: center;
  color: #8a8a8a;
  font-size: 15px;
}

.stars {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.stars > * {
  margin-right: 5px;
  font-size: 20px;
}

.leftBar ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style-type: none;
  text-align: left;
  overflow-x: hidden;
  padding-bottom: 50px;
}

.leftBar::-webkit-scrollbar {
  display: none;
}

.leftBar li {
  width: auto;
  height: 60px;
  line-height: 50px;
}

.leftBar .item-menu {
  display: flex;
  margin-top: 30px;
  align-items: center;
  height: 50px;
  overflow: hidden;
  color: black;
  padding-left: 20%;
}

.item-menu svg {
  font-size: 25px;
}

.leftBar a,
.leftBar a:hover {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  vertical-align: auto;
}

span.menu {
  padding-left: 10px;
}

.menu {
  padding-left: 30px;
  text-decoration: none;
  vertical-align: middle;
}
.t_search {
  color: black;
  height: 35px;
  margin-left: 30px;
  width: 190px;
}

.siteLogoSidebar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
  color: black;
  width: min-content;
  margin-top: 60px;
}

.siteLogoSidebar img {
  width: 100px;
}

.siteLogoReduzidoSidebar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
  color: black;
  width: min-content;
  margin-top: 60px;
  display: none;
}

.siteLogoReduzidoSidebar img {
  width: 30px;
}

.siteLogoSidebar a > * {
  margin-right: 5px;
}

.siteLogoSidebar a {
  height: min-content;
  margin: auto;
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.siteLogoSidebar a:hover {
  height: min-content;
  margin: auto;
  display: flex;
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 600px) {
  .leftBar {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .leftBar {
    width: 50px;
  }

  .leftBar .userProfilePictureSidebar {
    width: 50px;
    height: 50px;
  }

  .leftBar .cover {
    animation: fadeIn 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    animation: 1s fadeOut;
    animation-fill-mode: forwards;
  }

  .leftBar .newPost {
    display: none;
  }

  .leftBar .newPostPlus {
    display: grid;
  }

  /*.leftBar:hover .cover{
        visibility: visible;
        animation-delay: 1s;
        animation: 1s fadeIn;
    }
    
        .leftBar:hover .userProfilePictureSidebar{
        width: 70px;
        height: 70px;
    }


    .leftBar:hover {
        width: 270px;
    }*/

  .leftBar .profileInformations {
    display: none;
  }

  .leftBar .stars {
    display: none;
  }

  .leftBar .siteLogoSidebar {
    display: none;
  }

  .leftBar .siteLogoReduzidoSidebar {
    display: grid;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
